@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoSlab";
  font-weight: 300;
  src: url("../assets/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "RobotoSlab";
  font-weight: 400;
  src: url("../assets/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: "RobotoSlab";
  font-weight: 600;
  src: url("../assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf");
}
