* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
:root {
  --background: #26242c;
  --backgroundHover: #006888;
  --primary-300: #32c2ee;
  --primary-400: #01b3e9;
  --primary-500: #009dcf;
  --primary-600: #007ba0;

  --text: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
  font-size: 1.1rem;

  position: relative;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 500ms;
  padding: 1rem;
  border-radius: 8px;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
}

#back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;

  position: absolute;
  top: 30px;
  left: 50px;

  transition: filter 500ms;
  cursor: pointer;
}

#back:hover {
  filter: brightness(70%);
}

#back:visited {
  text-decoration: none;
}

.filter-green {
  filter: invert(43%) sepia(65%) saturate(495%) hue-rotate(101deg)
    brightness(88%) contrast(91%);
}

.filter-blue {
  filter: invert(66%) sepia(84%) saturate(2847%) hue-rotate(153deg)
    brightness(89%) contrast(107%);
}
