@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 157, 207,0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 157, 207, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 157, 207, 0);
  }
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  gap: 2rem;
}

#main img {
  width: 400px;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#btnResgate {
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  
  text-decoration: none;
  padding: 1.5rem;
  background-color: var(--primary-500);
  color: #fafafa;
  
  box-shadow: 0 0 0 0 var(--primary-500);
  transform: scale(1);
  animation: pulse 2s infinite;
  transition: background 500ms;
}
